* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #999999;
  margin: 0;
  padding: 20px;
  color: #000000;
}
div#wrapper {
  margin: 0 auto;
  width: 100%;
  background-color: #ffffff;
}
div#header {
  background-color: #ffffff;
}
div#pre_logo {
  background-color: #ffffff;
}
div#logo {
  background-color: #ffffff;
}
div#post_logo {
  background-color: #ffffff;
}
div#body {
  background-color: #ffffff;
}
div#content {
  background-color: #ffffff;
  width: 100%;
}
div#footer {
  clear: both;
  background-color: #ffffff;
}
div.clearing {
  height: 0;
  clear: both;
}
